@import "vars";
@mixin flex($justify: stretch, $align: normal) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin fontParams($font: Roboto,$weight: 400, $fz: 1rem) {
  font-family: $font;
  font-weight: $weight;
  font-size: $fz;
}

@mixin hoverNameCityParams {
  &:hover {
    cursor: pointer;
    background-color: $hoverNameCity;
    transition: background-color ease 0.3s;
  }
}