// * Colors

$secondaryColor: rgba(179, 186, 192, 0.2);
$tagColor: #333333;
$hoverTagColor: #666666;
$linksColor: rgba(52, 131, 204, 1);
$hoverLinksColor: rgba(235, 87, 87, 1);
$hoverNameCity: rgba(0, 0, 0, 0.06);


// * Media
$mq1: 1440;
$mq2: 1299.98;
$mq3: 991.98;
$mq4: 575.98;

// * Container

.container {
  padding: 0 156px;
  @media (min-width: $mq4+px) {
    padding: 0 35px;
  }
  @media (min-width: $mq3+px) {
    padding: 0 50px;
  }
  @media (min-width: $mq2+px) {
    padding: 0 70px;
    width: 100%;
    margin: 0 auto;
  }
  @media (min-width: $mq1+px) {
    padding: 0 150px;
  }
}
