@import "src/sass/mixins";
@import "src/sass/vars";

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 85px 24px;

  @media (max-width: $mq4+px) {
    gap: 0px 40px;
  }

  &_conditions {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media (max-width: $mq4+px) {
      gap: 10px;
    }

    span {
      @include fontParams(null, null, 1.6rem)
    }
  }

  &_map {
    grid-column: span 2;
  }
}

