@import "src/sass/mixins";

.sample {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  &_example {
    background: rgba(179, 186, 192, 0.2);
    border-radius: 8px;
    margin-top: 16px;
  }

  &_conditions {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

