@import "src/sass/mixins";

.portfolio {
  &_info {
    @include flex(center, flex-start);
    flex-direction: column;

    &_item {
      @include fontParams(null, null, 1.14rem);
      line-height: 24px;
    }
  }
  &_avatar {
    max-width: 168px;
    max-height: 168px;
    border-radius: 50%;
  }
}