@import "src/sass/vars";
@import "src/sass/mixins";

.header {
  background-color: $secondaryColor;
  padding: 40px 0 16px 0;
  &_wrap {
    @include flex(null,center);
  }
  &_info {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}