@import "src/sass/mixins";
@import "src/sass/vars";


.error {
  color: $hoverLinksColor;
  @include fontParams(null, null, 1.14rem);
  display: block;

  &_input {
    @extend .input_label;
    border-bottom: 1px solid $hoverLinksColor;
  }
}

.input {
  &_label {
    display: block;
    background: $hoverNameCity;
    border-bottom: 1px solid black;
    max-width: 36rem;
    @include fontParams(null, 500, 2.5rem);
    line-height: 48px;
    @include hoverNameCityParams;
    position: relative;
    max-height: 48px;
  }

  &_validate {
    position: absolute;
    top: 5px;
    right: 0;
  }

  &_wrap {
    position: relative;
  }
}

.form_wrap {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}