@import 'src/sass/vars';
@import 'src/sass/mixins';

.projects {

  &_skills {
    padding-left: 18px;

    &_items {
      position: relative;
      @include fontParams(null, 700, 1.6rem);

      &:before {
        content: '—';
        position: absolute;
        left: -18px;
      }

      &_exp {
        @include fontParams(null, null, 1.6rem);
        color: $linksColor;
        border-bottom: 1px dashed $linksColor;
        cursor: pointer;

        &:hover {
          cursor: pointer;
          color: $hoverLinksColor;
          transition: color ease 0.3s;
        }
      }
    }
  }
}

.portfolio, .experience {
  @include flex(null, flex-start);
  flex-direction: column;
  gap: 24px
}