@import "src/sass/vars";
@import "src/sass/mixins";

.skill {
  padding: 4px 8px;
  background: $tagColor;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  @include fontParams(null, null, 1.14rem);
  //+ .skill {
  //  margin-left: 8px;
  //}
  &:hover {
    background: $hoverTagColor;
    transition: background ease 0.3s;
  }
}