@import "../../../sass/vars";

.btn {
  background-color: $tagColor;
  position: relative;
  border-radius: 4px;
}
.skills {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;

  &_btn {
    color: #FFFFFF;
    background: $tagColor;
    padding: 5px 8px;
    border-radius: 4px;
    @media (max-width: $mq3+px) {
      padding: 4px 8px;
    }
    @media (max-width: $mq4+px) {
      padding: 3px 8px;
    }
  }
}
.remover {
  position: absolute;
  top: 0;
  right: 0;
}
.input_error {
  color:$hoverLinksColor;
}
