@import "src/sass/mixins";
@import "src/sass/vars";

.city {
  @include fontParams(null, null, 1.6rem);
  @include hoverNameCityParams
}

.error {
  color: $hoverLinksColor;
  @include fontParams(null, null, 1.14rem);
  display: block;

  &_input {
    @extend .input_label;
    border-bottom: 1px solid $hoverLinksColor;
  }
}

.input {
  position: relative;
  &_label {
    display: block;
    background: $hoverNameCity;
    border-bottom: 1px solid black;
    max-width: 36rem;
    @include fontParams(null, 500, 2.4rem);
    @include hoverNameCityParams;
    position: relative;
    max-height: 2.4rem;
  }

  &_validate {
    position: absolute;
    top: 5px;
    right: 0;
  }

  &_wrap {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem
  }
  &_error {
    color: $hoverLinksColor;
    @include fontParams(null, null, 1.4rem)
  }
}

.form_wrap {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}