@import "src/sass/vars";


.plus {
  display: block;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background: #333333;
  border-radius: 4px;
}

.plus:before,
.plus:after {
  content: "";
  position:absolute;
  background:#fff;
}

.plus:before {
  left: 50%;
  top: 6px;
  bottom: 6px;
  width: 2px;
  transform: translateX(-50%);
}

.plus:after {
  top: 50%;
  left: 6px;
  right: 6px;
  height: 2px;
  transform: translateY(-50%);
}

