@import "src/sass/vars";

.btn {
  background-color: $tagColor;
  position: relative;
  border-radius: 4px;
}
.skills {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}
.remover {
  position: absolute;
  top: 0;
  right: 0;
}